.carousel {
  position: relative;
}

.carousel-navigation a:first-of-type {
  position: absolute;
  text-align: center;
  top: 200px;
  left: 300px;
}

.carousel-navigation a:last-of-type {
  position: absolute;
  text-align: center;
  top: 200px;
  right: 300px;
}

.carousel-slides {
  display: flex;
  width: 640px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

h1 {
  font-size: 32px;
  line-height: 38px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

header {
  text-align: center;
}
